<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>pid</th>
            <th>quantity</th>
            <th>created_at</th>
        </tr>
        {%for sales in sales%}
        <tr>
            <td>{{sales[0]}}</td>
            <td>{{sales[1]}}</td>
            <td>{{sales[2]}}</td>
            <td>{{sales[3]}}</td>
   
        </tr>
        {%endfor%}
    </table>
</body>
</html>